/* Signup.css */
.signup-container {
    background-image: url('path/to/login.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Background color with transparency */
    padding: 20px;
    border-radius: 10px;
}
